<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="db.properties" />
	
	<typeAliases>
		<typeAlias type="kr.ac.kopo.member.vo.MemberVO" alias="memberVO" />
		<typeAlias type="kr.ac.kopo.movie.vo.MovieVO" alias="movieVO" />
		<typeAlias type="kr.ac.kopo.reservation.vo.ReservationVO" alias="reservationVO" />
		<typeAlias type="kr.ac.kopo.reservation.vo.SeatVO" alias="seatVO" />
		<typeAlias type="kr.ac.kopo.reservation.vo.TheaterVO" alias="theaterVO" />
		<typeAlias type="kr.ac.kopo.schedule.vo.ScheduleVO" alias="scheduleVO" />
	</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="common/db/MemberMapper.xml"/>
    <mapper resource="common/db/MovieMapper.xml"/>
    <mapper resource="common/db/ReservationMapper.xml"/>
    <mapper resource="common/db/ScheduleMapper.xml"/>
    <mapper resource="common/db/SeatMapper.xml"/>
    <mapper resource="common/db/TheaterMapper.xml"/>
  </mappers>
</configuration>